body {

}

/* Start of header styles */
header {
  background: #004A80;
  width: 100%;
  line-height: 65px;
}

.content-container {
  width: 68%;
  overflow: hidden;
  margin: auto;
  max-width: 980px;
}

#logo {
  float: left;
}

#logo img {
  width: 173px;
  height: 25px;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  padding-right: 20px;
}

nav img {
  width: 23px;
  height: 23px;
}
/* End  of header styles */

/* Start of Search section styles */
#search-section {
  background: #004A80;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  line-height: 80px;
}

#search-section h1 {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 52px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

#search-section p {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 24px;
  color: #F6BC25;
  letter-spacing: 0;
  text-align: center;
}

#search-section span {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 29px;
}

#search-section form {
  width: 100%;
}

#email-input {
  width: 75%;
  background: #FFFFFF;
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  border-radius: 3px;
  height: 70px;
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 16px;
  color: #9B9B9B;
  letter-spacing: 2px;
  line-height: 18px;
  padding: 10px;
  box-sizing: border-box;
}

#email-input:focus {
  border: 2px solid #F6BC25;
}

.error {
  border: 2px solid #DC0015;
}

.error::placeholder {
  color: #DC0015;
}

#search-button {
  width: 20%;
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
  height: 70px;
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 24px;
  color: #004A80;
  letter-spacing: 1px;
  text-align: center;
  float: right;
}

#search-button:hover {
  background: #F2DA56;
  cursor: pointer;
}

#search-button:active {
  background: #F6BC25;
}

#search-section form p{
  text-align: left;
  font-size: 16px;
}

#search-section form p img {
  width: 15px;
  height: 19px;
}
/* End of Search section styles */

/* Start of Search Info section styles */
#search-info-section {
  width: 100%;
  background-image: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
  box-sizing: border-box;
  padding: 40px;
  letter-spacing: 0;
}

#search-info-section h1 {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 52px;
  color: #004A80;
  letter-spacing: 0;
  text-align: center;
  line-height: 70px;
}

#search-info-section p {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 22px;
  color: #4A4A4A;
  line-height: 30px;
}

#search-info-section .services-info {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

#search-info-section .services-item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
}

#search-info-section .services-item h2 {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 22px;
  color: #004A80;
}

#search-info-section .services-item p {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  margin-top: 10px;
}
/* End of Search Info section styles */

/* Start of footer styles */
footer {
  background: #FFFFFF;
  padding: 30px;
}

footer div {
  display: inline-block;
}

footer #footer-text {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 20px;
  max-width: 960px;
}

footer #footer-nav a, footer #footer-nav span {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 14px;
  color: #004A80;
}
/* End of footer styles */

/* Start of Result section styles */
#result-section {
  background: #F8F8F8;
  padding: 20px;
  letter-spacing: 0;
}

#result-section h1 {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 52px;
  color: #004A80;
  text-align: center;
}

#result-section p {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
  line-height: 32px;
}

#results-box {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 30px;
  margin-top: 20px;
  padding: 40px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

#results-box h2 {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 32px;
  color: #004A80;
}

#results-box p {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  text-align: left;
}

#results-box div {
  display: inline-block;
  width: 45%;
  float: left;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

#results-box div h3 {
  font-family: HelveticaNeue-Bold, Helvetica, sans-serif;
  font-size: 22px;
  color: #004A80;
}

#results-box div ul li {
  font-family: HelveticaNeue, Helvetica, sans-serif;
  font-size: 18px;
  color: #004A80;
  line-height: 26px;
}
/* End of Result section styles */

.hidden {
  display: none;
}

/* Tablet size */
@media screen and (max-width: 768px) {

  .content-container {
    width: 93.4%;
    max-width: 718px;
  }

  #search-section {
    line-height: 40px;
  }

  #search-section h1, #search-info-section h1, #result-section h1 {
    font-size: 48px;
  }

  #search-section p, #search-info-section p, #result-section p {
    font-size: 20px;
  }

  #search-info-section .services-item h2 {
    font-size: 20px;
  }

  #search-info-section .services-item p {
    font-size: 16px;
  }

}

/* Mobile size */
@media screen and (max-width: 320px) {

  .content-container {
    width: 90.6%;
    max-width: 290px;
  }

  #search-section {
    line-height: 20px;
  }

  #search-section h1, #search-info-section h1, #result-section h1 {
    font-size: 38px;
    line-height: 40px;
  }

  #search-section p, #search-info-section p, #result-section p {
    font-size: 18px;
  }

  #email-input {
    width: 100%;
    height: 50px;
  }

  #search-button {
    width: 100%;
    height: 50px;
    font-size: 22px;
  }

  #search-info-section .services-info{
    width: 100%;
  }

}
